<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Macro converter! </title>
  <link rel="stylesheet" href="css/styles.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <style>
    input[type="text"]::placeholder {
        text-align: center;
    }
  </style>
</head>

<body>

  <section class="jumbotron text-center bg-success">

    <h1> <strong>Macro Math</strong> </h1>

  </section>

  <section class="jumbotron text-center">
    <div class="container">

      <p>Enter a desired total caloric intake, select a lifestyle, and let the magic happen! </p>

      <form method="post">

        <input type="text" name="calories" placeholder="Total Calories">

        <br>
        <br>

        <button class="btn btn-md btn-outline-success" type="submit" name="submit" value="Keto" formaction="/keto-macros">Keto</button>
        <button class="btn btn-md btn-outline-success" type="submit" name="submit" value="High Protein" formaction="/high-protein-macros">High Protein</button>
        <button class="btn btn-md btn-outline-success" type="submit" name="submit" value="Default" formaction="/default-macros">Default</button>

      </form>

      <br>
      <br>
      <br>
      <br>


      <p>Split formula for Keto: 35P 5C 60F. </p>
      <p>Split formula for High Protein: 50P 25C 25F. </p>
      <p>Split formula for Default: 30P 40C 30F. </p>

      <br>
      <br>



      <form action="/resetCalToMac" method="post">

        <button class="btn btn-lg btn-outline-success" type="submit" name="submit">Recalculate!</button>

      </form>

      <form action="/" method="get">
        <button class="btn btn-lg btn-outline-success" type="submit" name="submit">Return to landing page!</button>
      </form>

      
      <br>
      <br>

      <p>Thank you for using my app!</p>
      <p>Follow me on IG <a href="http://www.instagram.com/codewithshreya">@codewithshreya</a></p>




    </div>
  </section>

</body>

</html>
