<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Macro converter! </title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/styles.css">
</head>

<body>

  <section class="jumbotron text-center bg-success">

    <h1> <strong>Macro Math</strong> </h1>

  </section>

  <section class="jumbotron text-center">
    <div class="container">

      <p>Choose whether you want to convert macros to calories or calories to macros. </p>

      <br>

      <p>This app will perform your calculations for you! </p>

      <br>
      <br>


      <div class="row">

        <div class="col" align="right">
          <form action="/macros-to-calories" method="get">
            <button class="btn btn-lg btn-outline-success" type="submit" name="submit">Macros -> Calories</button>
          </form>
        </div>

        <div class="col" align="left">
          <form action="/calories-to-macros" method="get">
            <button class="btn btn-lg btn-outline-success" type="submit" name="submit">Calories -> Macros</button>
          </form>
        </div>


      </div>


    </div>

    <br>
    <br>



    <p>Thank you for using my app!</p>
    <p>Follow me on IG <a href="http://www.instagram.com/codewithshreya">@codewithshreya</a></p>

    </div>
  </section>


</body>

</html>
